.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit; //input 글꼴설정 자동안되기 때무네 수동으로 설정
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        //:foucs border-bt 때문에 포커스 이동시 미묘하게 움직이는 현상 발생시 추가해주기.
        width: 95%;
        display: block;

        transition: all 0.4s;

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary-dark;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden; // visibility만 쓸 경우 애니메이션을 사용불가
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 47%;
        display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0rem;
        top: -0.5rem;

        &::after {
            content: "";
            display: block;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity 0.1s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
